<section class="breadcrumb-area">
  <div class="container">
    <div class="radios-breadcrumb breadcrumbs">
      <ul class="list-unstyled d-flex align-items-center">
        <li class="radiosbcrumb-item radiosbcrumb-begin">
          <a href="/users/wishlist"><span>Home</span></a>
        </li>
        <li class="radiosbcrumb-item radiosbcrumb-end">
          <span>Wishlist</span>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<!-- start cart-section -->
<section class="cart-section woocommerce-cart pb-80">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="woocommerce">
          <!-- <form action="" method="post"> -->
          <table class="shop_table shop_table_responsive cart">
            <thead>
              <tr>
                <th class="product-remove">&nbsp;</th>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-name">Brand</th>
                <th class="product-name">Price</th>

                <th class="product-subtotal">Action</th>
              </tr>
            </thead>
            <tbody>
              <% wishlistData.forEach((wishlist)=>{ %>
              <tr class="cart_single">
                <td class="product-remove">
                  <a
                    href="#!"
                    class="remove"
                    title="Remove this item"
                    data-product="<%- wishlist.product._id %>"
                    data-wishlist="<%- wishlist._id %>"
                    >&times;</a
                  >
                </td>
                <td class="product-thumbnail">
                  <a href="#!">
                    <img
                      width="57"
                      height="70"
                      class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                      alt="#!"
                      src="/<%- wishlist.product.image[0] %>"
                    />
                  </a>
                </td>
                <td class="product-name" data-title="Product">
                  <a href="#!"><%- wishlist.product.name%></a>
                </td>
                <td class="product-name" data-title="Product">
                  <a href="#!"><%- wishlist.brand.name %></a>
                </td>

                <td class="product-price" data-title="Price">
                  <span class="woocommerce-Price-amount amount"
                    ><span id="some" class="woocommerce-Price-currencySymbol"
                      >₹ <%- wishlist.product.originalPrice %></span
                    >
                  </span>
                </td>
               

             <td>
                <button onclick="addToCart('<%- wishlist.product._id %>', 1, '<%- wishlist.product.originalPrice %>','<%- wishlist.brand._id %>')" class="btn btn-primary"style="font-size:1rem">Add To Cart</button>



             </td>
              </tr>
              
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
 function addToCart(productId, quantity, price,brand) {
  // Check if quantity is not provided and set it to 1 by default
  quantity = typeof quantity !== 'undefined' ? quantity : 1;

  // Check if price is not provided and set it to a default value if needed
  price = typeof price !== 'undefined' ? price : 0;

  // Now you can use productId, quantity, and price as needed
  console.log(`Adding product ${productId} to cart with quantity ${quantity} and price ${price}`);
  console.log(price)

  // Redirect to the cart or perform any other desired actions
  window.location.href = `/users/add-to-cart/${productId}/${quantity}/${price}/${brand}`;
}


const productRemoveButtons = document.querySelectorAll(".remove");
  productRemoveButtons.forEach((item) => {
    item.addEventListener("click", () => {
      const productId = item.dataset.product;
      const wishlistId = item.dataset.wishlist;
      removeProduct(productId, wishlistId);
    });
  });
  async function removeProduct(proId, wishlistId) {
    window.location.href = `/users/remove-wishlist/${proId}/${wishlistId}`;

  }

</script>
