<!-- Header Section -->
<div class="container mt-4">
  <button
    type="button"
    class="btn btn-outline-primary btn-sm"
    onclick="createInvoice()"
  >
    Download Invoice
  </button>
</div>

<!-- Main Content Section -->
<main class="container light-style flex-grow-1 container-p-y">
  <!-- Order Details Section -->
  <section class="h-10 gradient-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px">
            <div class="card-header px-4">
              <h5 class="text-muted mb-0">Order Details</h5>
            </div>
            <div class="card-body">
              <!-- Order Info -->
              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <p class="lead fw-normal mb-0" style="color: #a8729a">
                  Order Id: <%= orders.orderId %>
                </p>
              </div>
            </div>
          </div>

          <% if(orders.status == "delivered"){ %>
          <button
            type="button"
            onclick="returnOrder('<%= orders.orderId %>')"
            class="btn btn-success btn-sm my-1"
            data-order-id="<%= orders.orderId %>"
          >
            Return <i class="bi bi-cancel"></i>
          </button>
          <% } else if(orders.status == "cancel"|| orders.status == "cancelled"
          || orders.status == "return-rejected"|| orders.status ==
          "return-accepted"|| orders.status == "return-pickup"|| orders.status
          == "returned"){%> <% }else{ %>
          <button
            class="btn btn-danger btn-sm my-1 cancel"
            onclick="cancelOrder('<%= orders.orderId %>')"
            data-order-id="<%= orders.orderId %>"
          >
            Cancel <i class="bi bi-cancel"></i>
          </button>
          <% } %>

          <!-- Product List -->
          <div class="card shadow-0 border mb-4">
            <div class="card-body">
              <div class="d-flex justify-content around mb-1">
                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                  <b>Image</b
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                  <b>Product Name</b
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                  <b>Offer</b
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                  <b>Original Price</b
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                  <b>Quantity</b
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                  <b> Total Price</b
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
              </div>
              <!-- Product Loop -->
              <% products.forEach((item) => { %>
              <!-- Product Row -->
              <div class="row">
                <!-- Product Details -->
                <div class="col-md-2">
                  <img
                    src="/<%= item.image[0] %>"
                    class="img-fluid"
                    alt="Phone"
                  />
                </div>
                <div
                  class="col-md-2 text-center d-flex justify-content-center align-items-center"
                >
                  <p class="text-muted mb-0"><%= item.name %></p>
                  <input
                    type="hidden"
                    class="productName"
                    value="<%= item.name %>"
                  />
                </div>

                <div
                  class="col-md-2 text-center d-flex justify-content-center align-items-center"
                >
                  <p class="text-muted mb-0 small"><%= item.offer %></p>
                </div>

                <div
                  class="col-md-2 text-center d-flex justify-content-center align-items-center"
                >
                  <p class="text-muted mb-0 small"><%= item.originalPrice %></p>
                  <input
                    type="hidden"
                    class="price"
                    value="<%= item.originalPrice %>"
                  />
                </div>
                <!-- Orders1 Loop -->
                <% const matchingOrders = orders1.filter((orderItem) =>
                String(orderItem.productId) === String(item._id)); %> <%
                matchingOrders.forEach((orderItem) => { %>

                <div
                  class="col-md-2 text-center d-flex justify-content-center align-items-center"
                >
                  <p class="text-muted mb-0 small"><%- orderItem.quantity %></p>
                  <input
                    type="hidden"
                    class="quantity"
                    value="<%= orderItem.quantity %>"
                  />
                </div>
                <% let value = orderItem.quantity * orderItem.price %>

                <div
                  class="col-md-2 text-center d-flex justify-content-center align-items-center"
                >
                  <p class="text-muted mb-0 small">
                    <strong><%- value %></strong>
                  </p>
                </div>

                <div
                  class="rating-star ul_li d-flex align-items-center justify-content-center"
                  style="background-color: lightgoldenrodyellow"
                >
                  <strong style="padding-right: 30px"
                    >Rate this product:</strong
                  >
                  <ul class="rating-stars d-flex" style="list-style: none">
                    <li>
                      <i
                        class="far fa-star"
                        data-value="1"
                        onclick="setRating(1)"
                        style="font-size: 18px; color: orange"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star"
                        data-value="2"
                        onclick="setRating(2)"
                        style="font-size: 18px; color: orange"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star"
                        data-value="3"
                        onclick="setRating(3)"
                        style="font-size: 18px; color: orange"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star"
                        data-value="4"
                        onclick="setRating(4)"
                        style="font-size: 18px; color: orange"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star"
                        data-value="5"
                        onclick="setRating(5)"
                        style="font-size: 18px; color: orange"
                      ></i>
                    </li>
                  </ul>
                  <button
                    onclick="submitRating()"
                    style="margin-left: 30px; background-color: grey"
                  >
                    Rate
                    <i
                      class="fa fa-star"
                      style="color: orange; font-size: 18px; padding: 5px"
                    ></i>
                  </button>
                </div>
              </div>

              <% }) %>
              <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1" />
              <% }) %> <% if(orders.status === "pending" || orders.status ===
              "shipped" ||orders.status === "out-for-delivery" ||orders.status
              === "delivered" ||orders.status === "cancelled"){%>

              <div class="row d-flex align-items-center">
                <div class="col-md-2">
                  <p class="text-muted mb-0 small">
                    <strong>Track Order</strong>
                  </p>
                </div>
                <div class="col-md-10">
                  <div
                    class="progress"
                    style="height: 6px; border-radius: 16px"
                  >
                    <% if(orders.status == "pending"){ %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 20%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <% }else if(orders.status == "shipped"){ %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 40%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>

                    <% }else if(orders.status == "out-for-delivery") {%>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 60%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <% }else if(orders.status == "delivered") {%>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 80%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>

                    <% }else{ %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 100%;
                        border-radius: 16px;
                        background-color: red;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <% } %>
                  </div>
                  <div class="d-flex justify-content around mb-1">
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Ordered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Shipped&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Out for
                      delivery&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Delivered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">Cancelled</p>
                  </div>
                </div>
              </div>
              <% }else{ %>

              <div class="row d-flex align-items-center">
                <div class="col-md-2">
                  <p class="text-muted mb-0 small">
                    <strong>Track Order</strong>
                  </p>
                </div>
                <div class="col-md-10">
                  <div
                    class="progress"
                    style="height: 6px; border-radius: 16px"
                  >
                    <% if(orders.status == "return-initiated"){ %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 20%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <% }else if(orders.status == "return-accepted"){ %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 40%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>

                    <% }else if(orders.status == "return-pickup") {%>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 60%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <% }else if(orders.status == "returned") {%>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 80%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>

                    <% }else{ %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="
                        width: 100%;
                        border-radius: 16px;
                        background-color: green;
                      "
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <% } %>
                  </div>
                  <div class="d-flex justify-content around mb-1">
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Return-Initiated&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Accepted&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Out for
                      Pickup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">
                      Returned&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="text-muted mt-1 mb-0 small ms-xl-5">Rejected</p>
                  </div>
                </div>
              </div>

              <%}%>
              <p id="content" style="color: red"></p>
            </div>
            <div
              class="card-footer border-0 px-4 py-5"
              style="
                background-color: #a8729a;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
              "
            >
              <div class="d-flex justify-content-between pt-2">
                <p>
                  <b class="text-primary">Address:</b>
                  <span class="text-white">
                    <%= orders.billingAddress.name %>,<br /><%=
                    orders.billingAddress.city %>, <br /><%=
                    orders.billingAddress.state %></span
                  >
                </p>
              </div>
              <h5
                class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0 total-paid"
              ></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<input type="hidden" id="name" value="<%= orders.billingAddress.name %>" />

<input type="hidden" id="city" value="<%= orders.billingAddress.city %>" />
<input type="hidden" id="state" value="<%= orders.billingAddress.state %>" />

<script>
  const totalPaid = document.getElementById("total-paid").value;
  document.querySelector(".total-paid").innerHTML = "Total Paid" + totalPaid;

  async function cancelOrder(orderId) {
    try {
      const response = await fetch(`/users/cancel-order/${orderId}`);
      console.log(response);
      if (response.ok) {
        const response1 = await response.json();
        if (response1 == null) {
          const message = `Order with ID ${orderId} has been canceled.`;
          alert(message);
          location.reload();
        } else {
          const message = `Order with ID ${orderId} has been canceled.`;
          alert(message);
          const message1 =
            "Order Cancelled Successfully!!! Please check for the refund in your wallet";
          console.log(message1);
          location.reload();
        }
      }
    } catch (error) {
      // Handle network errors and exceptions
      console.error("An error occurred:", error);
    }
  }

  document.querySelector(".cancel").addEventListener("click", function () {
    const orderId = this.getAttribute("data-order-id");
    const confirmed = confirm("Are you sure you want to cancel?");
    if (confirmed) {
      cancelOrder(orderId);
    }
  });

  function returnOrder(orderId) {
    window.location.href = `/users/return-order/${orderId}`;
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
<script>
  function createInvoice() {
    const name = document.getElementById("name").value;

    const city = document.getElementById("city").value;
    const state = document.getElementById("state").value;

    var currentDate = new Date();
    currentDate.setDate(currentDate.getDate() + 15);

    var newDate = currentDate.toISOString().split("T")[0];
    // Initialize arrays for products
    const products = [];

    // Get product details from HTML elements
    const priceElements = document.getElementsByClassName("price");
    const quantityElements = document.getElementsByClassName("quantity");
    const productName = document.getElementsByClassName("productName");

    // Iterate over product elements and add them to the products array
    for (let i = 0; i < priceElements.length; i++) {
      const price = parseFloat(priceElements[i].value);
      const quantity = parseInt(quantityElements[i].value);

      products.push({
        quantity: quantity,
        description: productName[i].value,
        "tax-rate": 0,
        price: price,
      });
    }

    // Create the data object for the invoice
    const data = {
      customize: {},
      images: {
        logo: "https://p.kindpng.com/picc/s/480-4803541_shopping-cart-hd-png-download.png",
      },
      sender: {
        company: "E-Cart",
        address: "Muthalakodam-Puthuchira Road",
        zip: "Thodupuzha",
        city: "Kerala",
        country: "India",
      },
      client: {
        company: name,
        zip: city,
        city: state,
      },

      information: {
        number: "#" + Math.floor(Math.random() * 1000000000),
        date: new Date().toLocaleDateString(),
        "due-date": newDate,
      },
      products: products,
      "bottom-notice": "Kindly pay your invoice within 15 days.",
      settings: {
        currency: "INR",
      },
    };

    // Create the invoice
    easyinvoice.createInvoice(data, (result) => {
      easyinvoice.download("invoice.pdf", result.pdf);
    });
  }
</script>
<script>
  let selectedRating = 0;

  function setRating(rating) {
    selectedRating = rating;
    highlightStars(rating);
  }

  function highlightStars(rating) {
    const stars = document.querySelectorAll(".rating-stars i");
    stars.forEach((star) => {
      if (star.getAttribute("data-value") <= rating) {
        star.classList.remove("far");
        star.classList.add("fa");
        star.style.color = "orange";
      } else {
        star.classList.remove("fa");
        star.classList.add("far");
      }
    });
  }

  async function submitRating() {
    if (selectedRating === 0) {
      alert("Please select a rating!");
    } else {
      console.log("User's rating is: " + selectedRating);
      const response = await fetch(`/users/add-rating/${productId}/${selectedRating}`);
      console.log(response);
      if (response.ok) {
        const message = `Rating added successfully!`;
        alert(message);

        location.reload();
      }
      // Perform additional actions (send data to the server, etc.) here
    }
  }
</script>
