<style>
  /* Add your CSS styles here */
  .address-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    height: 50px;
    width: 50%;
  }
  .address-box.selected {
    border-color: #007bff;
  }
  .style {
    margin-top: 0;
  }
  #order_review {
    position: absolute;
    right: 8rem;
    top: 12rem;
  }
</style>
<!-- breadcrumb start -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="radios-breadcrumb breadcrumbs">
      <ul class="list-unstyled d-flex align-items-center">
        <li class="radiosbcrumb-item radiosbcrumb-begin">
          <a href="index.html"><span>Home</span></a>
        </li>
        <li class="radiosbcrumb-item radiosbcrumb-end">
          <span>Checkout</span>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<!--Content-->

<!-- start checkout-section -->
<section class="checkout-section pb-80">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="woocommerce">
          <div class="woocommerce-info" style="width: 50%">
            see all coupons?
            <a href="#!" class="showcoupon">Click here to show all coupons</a>
          </div>

          <form
            name="coupon"
            id="coupon"
            class="checkout_coupon"
            method="post"
            style="width: 50%; position: relative"
          >
            <p class="form-row form-row-first">
              <input
                type="text"
                name="coupon_code"
                class="input-text"
                placeholder="Coupon code"
                id="coupon_code"
                value=""
              />
            </p>
            <% coupons.forEach((coupon)=>{ %>
            <div
              class="modal-dialog modal-side modal-top-right modal-notify modal-danger text-white"
              style="margin-right: 10px; width: 50%; background-color: orange"
              role="document"
            >
              <!-- Content -->
              <div class="modal-content" style="background-color: white">
                <div class="modal-header p-0">
                  <b style="color: orange"><%- coupon.code %></b
                  ><span class="modal-title" style="color: black"
                    ><strong> <%- coupon.discount %>% off </strong
                    ><strong
                      >&nbsp;&nbsp;&nbsp;min-spend: <%- coupon.minSpend
                      %></strong
                    ></span
                  >
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true" class="white-text">&times;</span>
                  </button>
                </div>
              </div>
            </div>
            <% }) %>
            <p
              class="form-row form-row-last"
              style="position: absolute; top: 6rem; left: 2.2rem"
            >
              <input
                type="submit"
                class="thm-btn thm-btn__2 br-0"
                name="apply_coupon"
                value="Apply Coupon"
              />
            </p>

            <div class="clear"></div>
          </form>

          <div class="coll-2">
            <div class="woocommerce-shipping-fields">
              <div class="woocommerce-info" style="width: 50%">
                Have a Address?
                <a href="#!" id="ship-to-different-address"
                  >Click to choose your Address</a
                >
              </div>

              <div class="shipping_address">
                <% address.address.forEach((address,i) => { %>

                <div
                  class="address-box"
                  style="background-color: lightgoldenrodyellow"
                >
                  <label style="color: black">
                    <input
                      type="radio"
                      name="selectedAddress"
                      id="address<%= i %>"
                      class="address"
                      value="<%= address._id %>"
                      required
                    />
                    <%= address.name %>, <%= address.address1 %>,<%=
                    address.address2 %> <%= address.city %>, <%= address.state
                    %>- <%= address.pincode %>, <%= address.mobile %>
                  </label>
                </div>
                <% }) %>

                <div class="clear"></div>
              </div>
            </div>
          </div>

          <form
            name="address"
            method="post"
            class="checkout woocommerce-checkout"
            action=""
            id="address"
          >
            <div
              class="col2-set"
              id="customer_details"
              style="width: 50%; padding-right: 0"
            >
              <div class="coll-1">
                <div class="woocommerce-billing-fields">
                  <h3>Add Different Address</h3>

                 

                  <p
                    class="form-row form-row form-row-last address-field validate-required validate-postcode"
                    id="billing_postcode_field"
                  >
                    <label for="billing_postcode" class=""
                      >Full Name
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="text"
                      class="input-text"
                      name="name"
                      id="checkout-name"
                      placeholder=""
                      autocomplete="postal-code"
                      value=""
                      required
                    />
                  </p>

                  <p
                    class="form-row form-row form-row-last address-field validate-required validate-postcode"
                    id="billing_postcode_field"
                  >
                    <label for="billing_postcode" class=""
                      >Address1
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="text"
                      class="input-text"
                      name="address1"
                      id="checkout-address1"
                      placeholder=""
                      autocomplete="postal-code"
                      value=""
                      required
                    />
                  </p>

                  <div class="clear"></div>

                  <p
                    class="form-row form-row form-row-last address-field validate-required validate-postcode"
                    id="billing_postcode_field"
                  >
                    <label for="billing_postcode" class=""
                      >Address2
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="text"
                      class="input-text"
                      name="address2"
                      id="checkout-address2"
                      placeholder=""
                      autocomplete="postal-code"
                      value=""
                      required
                    />
                  </p>
                  <p
                    class="form-row form-row form-row-last address-field validate-required validate-postcode"
                    id="billing_postcode_field"
                  >
                    <label for="billing_postcode" class=""
                      >City
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="text"
                      class="input-text"
                      name="city"
                      id="checkout-city"
                      placeholder=""
                      autocomplete="postal-code"
                      value=""
                      required
                    />
                  </p>
                  <p
                    class="form-row form-row form-row-last address-field validate-required validate-postcode"
                    id="billing_postcode_field"
                  >
                    <label for="billing_postcode" class=""
                      >State
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="text"
                      class="input-text"
                      name="state"
                      id="checkout-state"
                      placeholder=""
                      autocomplete="postal-code"
                      value=""
                      required
                    />
                  </p>

                  <p
                    class="form-row form-row form-row-last validate-required validate-phone"
                    id="billing_phone_field"
                  >
                    <label for="billing_phone" class=""
                      >Phone
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="tel"
                      class="input-text"
                      name="mobile"
                      id="checkout-mobile"
                      placeholder=""
                      autocomplete="tel"
                      value=""
                      pattern="[0-9]{10}"
                      required
                    />
                  </p>
                  <div class="clear"></div>

                  <p
                    class="form-row form-row form-row-last address-field validate-required validate-postcode"
                    id="billing_postcode_field"
                  >
                    <label for="billing_postcode" class=""
                      >Postcode / ZIP
                      <abbr class="required" title="required">*</abbr></label
                    >
                    <input
                      type="text"
                      class="input-text"
                      name="pincode"
                      id="checkout-pincode"
                      placeholder=""
                      autocomplete="postal-code"
                      value=""
                      required
                    />
                  </p>
                </div>
                <button
                  type="button"
                  class="thm-btn thm-btn__2 no-icon br-0"
                  style="margin: 30px"
                  id="checkout-address"
                >
                  <span class="btn-wrap">
                    <span>Add Address</span>
                    <span>Add Address</span>
                  </span>
                </button>
              </div>
            </div>
          </form>

          <form
            name="checkout"
            class="checkout woocommerce-checkout style"
            action=""
            enctype="multipart/form-data"
            onsubmit="return validateForm();"
            id="checkout"
          >
            <div id="order_review" class="woocommerce-checkout-review-order">
              <h3 id="order_review_heading">Your order</h3>
              <table class="shop_table woocommerce-checkout-review-order-table">
                <thead>
                  <tr>
                    <th class="product-name">Sections</th>
                    <th class="product-total">Total</th>
                  </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                  <tr class="cart-subtotal">
                    <th>Subtotal</th>
                    <td>
                      <span
                        class="woocommerce-Price-amount amount"
                        id="subtotal"
                        ><span class="woocommerce-Price-currencySymbol">₹</span>
                        <%- subtotal %></span
                      >
                    </td>
                  </tr>
                  <tr class="cart-subtotal">
                    <th>Discount</th>
                    <td>
                      <span
                        class="woocommerce-Price-amount amount"
                        id="discount"
                        ><span class="woocommerce-Price-currencySymbol">₹</span>
                        0</span
                      >
                    </td>
                  </tr>

                  <!-- <tr class="shipping">
                    <th>Shipping</th>
                    <td data-title="Shipping">
                      Free Shipping
                      <input
                        type="hidden"
                        name="shipping_method[0]"
                        data-index="0"
                        id="shipping_method_0"
                        value="free_shipping:1"
                        class="shipping_method"
                      />
                    </td>
                  </tr> -->

                  <tr class="order-total">
                    <th>Total</th>
                    <td>
                      <strong
                        >&#8377; <b
                          ><span
                            class="woocommerce-Price-amount amount"
                            id="total"
                          >
                            <%- total %></span
                          ></b
                        ></strong
                      >
                    </td>
                  </tr>
                </tfoot>
              </table>
              <div id="payment" class="woocommerce-checkout-payment">
                <ul class="wc_payment_methods payment_methods methods">
                  <span class="grop-woo-radio-style" style="font-size: 25px"
                    ><b>Check Payment Methods</b></span
                  >

                  <li class="wc_payment_method payment_method_paypal m-2">
                    <input
                      id="payment_method_paypal"
                      type="radio"
                      class="input-radio"
                      name="payment_method"
                      value="cards"
                      data-order_button_text="Proceed to PayPal"
                    />
                    <!--grop add span for radio button style-->
                    <span class="grop-woo-radio-style"></span>
                    <!--custom change-->
                    <label for="payment_method_paypal"> Wallet </label>

                    <div
                      class="payment_box payment_method_paypal"
                      style="display: block"
                    >
                      Balance:<b>
                        <span id="wallet-balance"
                          ><%- balance.wallet.total %></span
                        ></b
                      >
                    </div>
                  </li>
                  <li class="wc_payment_method payment_method_paypal m-2">
                    <input
                      id="payment_method_paypal"
                      type="radio"
                      class="input-radio"
                      name="payment_method"
                      value="razorpay"
                      data-order_button_text="Proceed to PayPal"
                    />
                    <!--grop add span for radio button style-->
                    <span class="grop-woo-radio-style"></span>
                    <!--custom change-->
                    <label for="payment_method_paypal"> Razorpay </label>
                    <div
                      class="payment_box payment_method_paypal"
                      style="display: none"
                    ></div>
                  </li>
                  <li class="wc_payment_method payment_method_paypal m-2">
                    <input
                      id="payment_method_paypal"
                      type="radio"
                      class="input-radio"
                      name="payment_method"
                      value="cod"
                      data-order_button_text="Proceed to PayPal"
                    />
                    <!--grop add span for radio button style-->
                    <span class="grop-woo-radio-style"></span>
                    <!--custom change-->
                    <label for="payment_method_paypal"> COD </label>
                    <div
                      class="payment_box payment_method_paypal"
                      style="display: none"
                    ></div>
                  </li>
                </ul>
                <div class="form-row place-order mt-20">
                  <button
                    onclick="validateForm()"
                    type="button"
                    class="thm-btn thm-btn__2 no-icon br-0"
                  >
                    <span class="btn-wrap">
                      <span>Place order</span>
                      <span>Place order</span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <input type="hidden" name="addressId" id="addressId" value="" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <form id="order-success" action="/users/order-success" method="POST">
    <input type="hidden" name="orderCoupon" id="order-coupon" value="" />
    <input type="hidden" name="orderTotal" id="order-total" value="" />
    <input type="hidden" name="orderAddressId" id="order-addressId" value="" />
    <input type="hidden" name="orderPayment" id="order-payment" value="" />
    <input type="hidden" name="orderBalance" id="order-balance" value="" />
    <button type="submit" id="order-success" style="display: none">
      order-success
    </button>
  </form>
  
</section>
<div id="error-message" class="error-message" style="display: none">
  Please select an address and payment method.
</div>
<!--Modal: modalCoupon-->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  async function validateForm() {
    const selectedAddressElement = document.querySelector(
      'input[name="selectedAddress"]:checked'
    );
    const selectedPaymentElement = document.querySelector(
      'input[name="payment_method"]:checked'
    );

    if (!selectedAddressElement || !selectedPaymentElement) {
      alert("Please select an address and payment method.");
      return false; // Prevent form submission
    }

    const payment = selectedPaymentElement.value;
    const total = document.getElementById("total").textContent;
    const addressId = selectedAddressElement.value;
    const coupon = document.getElementById("order-coupon").value;

    if (payment === "cod") {
      handleCODPayment(payment, coupon, total, addressId);
    } else if (payment === "razorpay") {
      await handleRazorpayPayment(total, addressId, payment,coupon);
    } else {
      handleWalletPayment(payment, coupon, total, addressId);
    }
  }

  function handleCODPayment(payment, coupon, total, addressId) {
    document.getElementById("order-payment").value = payment;
    document.getElementById("order-total").value = total;
    document.getElementById("order-addressId").value = addressId;
    document.getElementById("order-coupon").value = coupon;
    document.getElementById("order-success").submit();
  }

  async function handleRazorpayPayment(total, addressId, payment, coupon) {
    console.log("entered in razorpay");

    const razorpayResponse = await fetch(`/users/order-success1/${total.trim()}/${addressId.trim()}/${payment.trim()}`);

    if (razorpayResponse.ok) {
        const order = await razorpayResponse.json();
        console.log(order);

        const options = {
            key: "rzp_test_JtgehPwYRDGdbi", // Replace with your actual Razorpay Key ID
            amount: order.amount, // Amount is in currency subunits. Default currency is INR
            currency: "INR",
            name: "E-Cart",
            payment_method: {
                types: ["upi"],
            },
            description: "Test Transaction",
            order_id: order.id,
            handler: function (response) {
                redirectToOrderSuccess(order.id, total, addressId, payment, coupon);
            },
            notes: {
                address: "Razorpay Corporate Office",
            },
            theme: {
                color: "#3399cc",
            },
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
}

function redirectToOrderSuccess(orderId, total, addressId, payment, coupon) {
  console.log(total, addressId, payment, coupon,orderId)
  let couponParam = coupon.trim() || "null"; // Trim the coupon and set it to "null" if empty

const redirectURL = `/users/order-success2/${orderId.trim()}/${total.trim()}/${addressId.trim()}/${payment.trim()}/${couponParam}`;

  window.location.href = redirectURL;
}


  function handleWalletPayment(payment, coupon, total, addressId) {
    console.log("exrctvybunimo,")
    const walletBalance = document.getElementById("wallet-balance").textContent;
    
    let balance = Number(total);
    let totalBalance = Number(walletBalance);  
    if (balance > totalBalance) {
      alert("Insufficient Balance");
      return false;
    }
    document.getElementById("order-addressId").value = addressId;
    document.getElementById("order-total").value = total;
    document.getElementById("order-payment").value = payment;
    document.getElementById("order-coupon").value = coupon;
    document.getElementById("order-balance").value = totalBalance;
    document.getElementById("order-success").submit();
  }

  const couponForm = document.getElementById("coupon");
  const discountElement = document.getElementById("discount");
  const totalElement = document.getElementById("total");
  const total = totalElement.textContent;
  console.log(total);

  couponForm.addEventListener("submit", async function (event) {
    event.preventDefault();

    // Get the coupon code from the form
    const coupon = document.forms["coupon"]["coupon_code"].value;
    document.getElementById("order-coupon").value = coupon;
    try {
      const response = await fetch(`/admin/validate-coupon/${coupon}/${total}`);

      const data = await response.json();
      console.log(data);

      if (data.message) {
        alert(data.message);
        return;
      } else if (data) {
        console.log(data);
        // Update the total and discount elements
        const discount = data.maxAmount;

        const subtotal = total.replace("₹", "");

        totalElement.textContent = subtotal - discount;
        console.log(totalElement.textContent);
        discountElement.innerHTML = discount;
        alert("Coupon Applied Successfully");
      } else {
        alert("Coupon is not valid");
      }
    } catch (error) {
      console.error("An error occurred:", error);
    }
  });


  // checkout-address
  const checkoutAddress = document.getElementById("checkout-address");
checkoutAddress.addEventListener("click", async () => {
    const name = document.getElementById("checkout-name").value;
    const address1 = document.getElementById("checkout-address1").value;
    const address2 = document.getElementById("checkout-address2").value;
    const city = document.getElementById("checkout-city").value;
    const state = document.getElementById("checkout-state").value;
    const mobile = document.getElementById("checkout-mobile").value;
    const pincode = document.getElementById("checkout-pincode").value;

    const checkout = {
        name,
        address1,
        address2,
        city,
        state,
        mobile,
        pincode
    };

    try {
        const response = await fetch("/users/post-address?checkout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(checkout)
        });

        if (response.ok) {
            alert("Address Added Successfully");
            window.location.reload();
        } else {
            throw new Error('Failed to add the address');
        }
    } catch (error) {
        console.error('Error:', error);
        // Handle error - Show an error message or perform additional actions
        alert("Failed to add the address. Please try again.");
    }
});






</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".close").on("click", function () {
      $(this).closest(".modal-dialog").remove();
    });
  });
</script>
