<section class="breadcrumb-area">
  <div class="container">
    <div class="radios-breadcrumb breadcrumbs">
      <ul class="list-unstyled d-flex align-items-center">
        <li class="radiosbcrumb-item radiosbcrumb-begin">
          <a href="#"><span>Home</span></a>
        </li>
        <li class="radiosbcrumb-item radiosbcrumb-end">
          <span>Shop Single</span>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb end -->

<!-- start shop-single-section -->

<section class="shop-single-section pb-70">
  <div class="container">
    <div class="row">
      <!-- Product Images -->

      <div class="col-md-6">
        <div class="product-single-wrap mb-30">
          <div class="shop_thumb_tab">
            <ul class="nav" id="myTab2" role="tablist">
              <% for (let i = 0; i < product.image.length; i++) { %>
              <li class="nav-item">
                <button
                  class="nav-link<%= i === 0 ? ' active' : '' %>"
                  id="product-image-tab<%= i + 1 %>"
                  data-bs-toggle="tab"
                  data-bs-target="#product-image<%= i + 1 %>"
                  type="button"
                  role="tab"
                  aria-controls="product-image<%= i + 1 %>"
                  aria-selected="<%= i === 0 %>"
                  style="padding: 0"
                >
                  <div class="pl_thumb" style="height: 100%">
                    <img
                      src="/<%- product.image[i] %>"
                      alt=""
                      style="height: 100%"
                    />
                  </div>
                </button>
              </li>
              <% } %>
            </ul>
          </div>
          <div
            class="product_details_img"
            style="padding: 0; min-height: 500px; width: 450px"
          >
            <div class="tab-content" id="myTabContent" style="height: 100%">
              <!-- Product Images Tabs -->
              <% for (let i = 0; i < product.image.length; i++) { %>
              <div
                class="tab-pane<%= i === 0 ? ' show active' : '' %>"
                id="product-image<%= i + 1 %>"
                role="tabpanel"
                aria-labelledby="product-image-tab<%= i + 1 %>"
                style="height: 100%; width: 100%"
              >
                <div
                  class="pl_thumb magnify-continer overflow-hidden"
                  style="height: 100%; width: 100%; position: relative"
                >
                  <img
                    id="zoom_01"
                    class="magnify-image container p-0"
                    src="/<%- product.image[i] %>"
                    data-zoom-image="/<%- product.image[i] %>"
                    style="height: 100%"
                  />
                  <button
                    style="position: absolute; right: 1rem; top: 0.5rem"
                    class="btn btn-outline-primary btn-lg m-2"
                    type="submit"
                    onclick="addToWishlistDetails('<%- product._id%>')"
                  >
                    <i class="fas fa-heart"></i>
                  </button>
                </div>
              </div>

              <% } %>
            </div>
          </div>
          <!-- Product Images Thumbnails -->
        </div>
      </div>

      <!-- Product Details -->
      <div class="col-md-6 product-details-col">
        <p id="content"></p>
        <div class="product-details">
          <h2><%- product.name %></h2>
          <h6>Brand: <%- brand.name %></h6>
          <input id="brandId" type="hidden" value="<%- brand._id %>" />
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>(2 Customer reviews)</span>
          </div>
          <div class="price">
            <span id="originalPrice" class="current"
              >₹<%- product.originalPrice %></span
            >
            <span class="old">₹<%- product.mrp %></span>
          </div>
          <ul>
            <li><%- product.description %></li>
          </ul>

          <!-- Product Model Options -->

          <!-- Product Meta Information -->
          <div class="thb-product-meta-before mt-20">
            <div class="product_meta">
              <span class="product-share-wrap ul_li"
                >Share: <a href="#!"><i class="fab fa-facebook-f"></i></a>
                <a href="#!"><i class="fab fa-instagram"></i></a>
                <a href="#!"><i class="fab fa-twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin"></i></a
              ></span>
            </div>
          </div>

          <!-- Product Options and Add to Cart Button -->
          <div class="product-option">
            <div class="product-row">
              <div
                style="
                  width: 100px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <button
                  type="button"
                  class="plus btn btn-info"
                  onclick="incrementCount()"
                  style="
                    width: 35px;
                    height: 50px;
                    padding: 0;
                    font-size: 20px;
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                  "
                >
                  +
                </button>
                <span
                  style="
                    width: 35px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                  "
                  id="count"
                  ><%- product.quantity %></span
                >
                <button
                  type="button"
                  class="minus btn btn-info btn-lg"
                  onclick="decrementCount()"
                  style="
                    width: 35px;
                    height: 50px;
                    padding: 0;
                    font-size: 20px;
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                  "
                >
                  -
                </button>
              </div>

              <div class="add-to-cart-btn">
                <button
                  class="btn btn-outline-primary btn-lg m-2"
                  type="submit"
                  onclick="addToCartDetails('<%- product._id%>')"
                >
                  <i class="fas fa-cart-plus"></i>
                </button>
                <button
                  onclick="buyNow('<%- product._id%>')"
                  class="btn btn-outline-primary m-2 btn-lg"
                  type="button"
                >
                  <span class="btn-wrap check">
                    <span style="color: black">Buy Now</span>
                  </span>
                </button>
              </div>
              <p id="calcPrice" style="margin-left: 100px">
                <%- product.originalPrice %>
              </p>
              <input
                name="id"
                id="id"
                class="id"
                type="hidden"
                value="<%- product._id %>"
              />
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="stock" value="<%- product.stock%>" />
      <span
        id="text"
        style="display: block; color: red; margin-right: 10px; font-size: 14px"
      ></span>

      <!-- End col -->
    </div>

    <!-- end row -->

    <div class="row m-5">
      <div class="col col-xs-12">
        <div class="realted-porduct">
          <h3 style="text-align: center">Related products</h3>
          <div class="shop-area">
            <ul class="products clearfix">
              <% products.forEach((prod)=>{ %>
              <li class="product">
                <div class="product-holder">
                  <a href="/users/single-product/<%- prod._id %>"
                    ><img
                      src="/<%- prod.image[0] %>"
                      alt=""
                      style="width: 100%; height: 100%"
                  /></a>
                  <ul class="product__action">
                    <li>
                      <a
                        href=""
                        class="add-to-cart-link"
                        data-product-id="<%- prod._id %>"
                        data-count="1"
                        data-price="<%- prod.originalPrice %>"
                      >
                        <i class="far fa-shopping-basket"></i>
                      </a>
                    </li>

                    <li>
                      <a
                        href=""
                        class="add-to-wishlist-link"
                        data-product-id="<%- prod._id %>"
                      >
                        <i class="far fa-heart"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  class="toast"
                  role="alert"
                  style="display: none"
                  aria-live="assertive"
                  aria-atomic="true"
                  data-product-id="<%- prod._id %>-cart"
                >
                  <div
                    class="toast-body"
                    style="background-color: green; color: white"
                  >
                    Product added to cart!
                  </div>
                </div>
                <div
                  class="toast"
                  role="alert"
                  style="display: none"
                  aria-live="assertive"
                  aria-atomic="true"
                  data-product-id="<%- prod._id %>-wishlist"
                >
                  <div
                    class="toast-body"
                    style="background-color: green; color: white"
                  >
                    Product added to wishlist!
                  </div>
                </div>
                <div class="product-info">
                  <div class="product__review ul_li">
                    <ul class="rating-star ul_li mr-10">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="far fa-star"></i></li>
                      <li><i class="far fa-star"></i></li>
                    </ul>
                    <span>(126) Review</span>
                  </div>
                  <h2 class="product__title">
                    <a href="shop-single.html"><%- prod.name %></a>
                  </h2>

                  <div class="product__progress progress color-primary">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <h4 class="product__price">
                    <span class="new">₹<%- prod.originalPrice %></span
                    ><span class="old">₹<%- prod.mrp %></span>
                  </h4>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="buyNowForm" action="/users/buy-now" method="POST">
    <input type="hidden" id="productIdInput" name="productId" value="" />
    <input type="hidden" id="totalInput" name="total" value="" />
    <input type="hidden" id="countInput" name="count" value="" />
    <input type="hidden" name="value" value="single" />
    <!-- <button type="submit">Buy Now</button> -->
  </form>
  <!-- end of container -->
</section>
<script>
  var count = document.getElementById("count").innerText;

  var originalPrice1 = document.getElementById("originalPrice").innerText;
  var originalPrice = parseInt(originalPrice1.replace("₹", ""));

  var stock = document.getElementById("stock").value;

  var calcPrice = parseInt(document.getElementById("calcPrice").innerText);
  var brand = document.getElementById("brandId").value;
  var btns = document.querySelectorAll(".btn");
  var text = document.getElementById("text");
  if (stock == 0) {
    text.textContent = "No more stock for this product available";
    text.style.display = "block";
    for (let i = 0; i < btns.length; i++) {
      btns[i].disabled = true;
    }
  }
  function incrementCount() {
    if (count < stock) {
      count++;
      document.getElementById("count").innerText = parseInt(count);
      document.getElementById("calcPrice").innerText = parseInt(
        originalPrice * count
      );
    } else {
      alert("out of stock");
    }
  }
  function decrementCount() {
    if (count > 1) {
      count--;
      document.getElementById("count").innerText = count;
      document.getElementById("calcPrice").innerText = originalPrice * count;

      for (let i = 0; i < btns.length; i++) {
        if (count < stock) {
          text.textContent = "";
          btns[i].disabled = false;
        }
      }
    }
  }

  const addToCartDetails = (productId) => {
    var calcPrice = parseInt(document.getElementById("calcPrice").innerText);

    window.location.href = `/users/add-to-cart/${productId}/${count}/${calcPrice}/${brand}`;
  };
  const addToWishlistDetails = (productId) => {
    window.location.href = `/users/add-to-wishlist/${productId}`;
  };
  const buyNow = (productId) => {
    var calcPrice = parseInt(document.getElementById("calcPrice").innerText);

    // Set values to the hidden inputs in the form
    document.getElementById("productIdInput").value = productId;
    document.getElementById("totalInput").value = calcPrice;
    document.getElementById("countInput").value = count;

    // Submit the form
    document.getElementById("buyNowForm").submit();
  };

  // single product buttons disabled when out of stock //
  document.addEventListener("DOMContentLoaded", function () {
    console.log("abc");
    console.log("stock:", stock);
    if (stock == 0) {
      text.textContent = "No more stock for this product available";
      text.style.display = "block";
      for (let i = 0; i < btns.length; i++) {
        btns[i].disabled = true;
      }
    }
  });
</script>
<!-- Your existing HTML code remains unchanged -->

<!-- Script to enable zoom for each image -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const imageContainers = document.querySelectorAll(".magnify-continer"); // Adjust class name here

    imageContainers.forEach((imageContainer) => {
      const image = imageContainer.querySelector(".magnify-image"); // Adjust class name here
      console.log(image);

      imageContainer.addEventListener("mousemove", (e) => {
        const rect = imageContainer.getBoundingClientRect();
        const offsetX = (e.clientX - rect.left) / rect.width;
        const offsetY = (e.clientY - rect.top) / rect.height;

        image.style.transformOrigin = `${offsetX * 100}% ${offsetY * 100}%`;
        image.style.transform = "scale(3)"; // Adjust scale factor as needed
      });

      imageContainer.addEventListener("mouseleave", () => {
        image.style.transform = "scale(1)";
      });
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // For "Add to Cart" action
    const handleAddToCart = async (productId, count, price) => {
      try {
        const response = await fetch(
          `/users/add-to-cart/${productId}/${count}/${price}`
        );
        if (response.ok) {
          const toastEl = document.querySelector(
            `.toast[data-product-id="${productId}-cart"]`
          );
          const toast = new bootstrap.Toast(toastEl);
          toastEl.style.display = "block";

          toast.show();
          setTimeout(() => {
            toastEl.style.display = "none"; // Set display property back to 'none' after 3 seconds
          }, 3000);
        } else {
          console.error("Failed to add product to cart");
        }
      } catch (error) {
        console.error("An error occurred:", error);
      }
    };

    // For "Add to Wishlist" action
    const handleAddToWishlist = async (productId) => {
      try {
        const response = await fetch(`/users/add-to-wishlist/${productId}`);
        if (response.ok) {
          const toastEl = document.querySelector(
            `.toast[data-product-id="${productId}-wishlist"]`
          );
          const toast = new bootstrap.Toast(toastEl);
          toastEl.style.display = "block";

          toast.show();
          setTimeout(() => {
            toastEl.style.display = "none"; // Set display property back to 'none' after 3 seconds
          }, 3000);
        } else {
          console.error("Failed to add product to wishlist");
        }
      } catch (error) {
        console.error("An error occurred:", error);
      }
    };

    // Rest of the JavaScript code remains unchanged as provided earlier

    const handleProductActions = (link, actionHandler) => {
      link.addEventListener("click", async (e) => {
        e.preventDefault();
        const productId = link.getAttribute("data-product-id");
        if (actionHandler) {
          actionHandler(productId);
        }
      });
    };

    const addToCartLinks = document.querySelectorAll(".add-to-cart-link");
    const addToWishlistLinks = document.querySelectorAll(
      ".add-to-wishlist-link"
    );

    addToCartLinks.forEach((link) => {
      handleProductActions(link, (productId) => {
        const count = link.getAttribute("data-count");
        const price = link.getAttribute("data-price");
        handleAddToCart(productId, count, price);
      });
    });

    addToWishlistLinks.forEach((link) => {
      handleProductActions(link, handleAddToWishlist);
    });
    const stock = document.querySelectorAll(".thumb");
    const products = document.querySelectorAll(".tx-product");
    //  const categories = document.querySelectorAll(".rd-tab-product");

    for (let i = 0; i < stock.length; i++) {
      if (stock[i].getAttribute("data-stock") == 0) {
        products[i].style.opacity = "0.5";
        products[
          i
        ].innerHTML += `<div style="color:red" class="out-of-stock-message">Out of Stock</div>`;
      }
    }
  });
</script>
