<div class="container mt-5 bg-white p-3" style="width: 40%">
  <h1 class="text-dark">Edit Category</h1>

  <!-- Category Edit Form -->
  <form
    action="/admin/edit-category/<%= categoryData._id %>"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="categoryName" class="form-label">Category Name</label>
      <input
        type="text"
        class="form-control"
        id="categoryName"
        placeholder="Enter category name"
        value="<%- categoryData.name%>"
        name="name"
        required
      />
    </div>
   
    <div class="mb-3">
      <label for="categoryDescription" class="form-label"
        >Category Description</label
      >
      <textarea
        class="form-control"
        id="categoryDescription"
        rows="4"
        placeholder="Enter category description"
        name="description"
        required
      ><%- categoryData.description%></textarea
      >
    </div>
    <div class="mb-3">
      <label for="categoryName" class="form-label">Upload Image</label>
      <input
        type="file"
        class="form-control"
        id="categoryName"
        placeholder="upload Image"
        name="image"
        accept="image/*"
        value="<%= categoryData.image %>"
        onchange="displayImage(this)"
        required
      />
      <img
        id="imagePreview"
        src="/<%- categoryData.image %>"
        style="width: 150px; height: 100px"
        alt=""
      />    
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
<script>
  function displayImage(input) {
    const imagePreview = document.getElementById("imagePreview");


    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        imagePreview.src = e.target.result;
      };

      reader.readAsDataURL(input.files[0]);

    } else {
  
      imagePreview.src = "";
      
    }
  }
</script>
