<style>
  body {
    background: #eee;
  }

  .card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: orange;
    border: none;
    color: #fff;
    height: 350px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .container {
    height: 100vh;
  }

  .card h1 {
    font-size: 48px;
    margin-bottom: 0px;
  }

  .card span {
    font-size: 28px;
  }

  .image {
    position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
  }

  .image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
  }

</style>
<main id="main" class="main">
  <section class="section">
   
    <div class="m-5">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop1"
      >
        Add New
      </button>
    </div>

    <!-- Left side columns -->
    <div class="container"style="height:auto">
      <div class="row">
        <% activeCoupons.forEach(function(coupon) { %>
        <div class="col-md-4 mb-2">
          <div class="card text-center">
            <div class="image">
              <img src="https://i.imgur.com/DC94rZe.png" width="150" />
            </div>
            <div class="image2">
              <img src="https://i.imgur.com/DC94rZe.png" width="150" />
            </div>
            <h1 class="coupon-discount"><%= coupon.discount %>% OFF</h1>
            <p class="coupon-description"><%= coupon.description %></p>
            <p class="coupon-max-amount">Up to: <%= coupon.maxAmount %></p>
            <div class="coupon-details">
              <p class="coupon-code">Coupon Code: <%= coupon.code %></p>
              <p class="coupon-min-spend">Min Spend: <%= coupon.minSpend %></p>
              <p class="coupon-expiry">Expiry: <%= coupon.expiryDate %></p>
            </div>
            <div class="coupon-buttons">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdropActiveEdit<%= coupon._id %>"
              >
                <i class="bi bi-pencil-square"></i> Edit
              </button>
              <button
                type="button"
                id="deleteCoupon"
                class="btn btn-danger"
                
              >
                <i class="bi bi-trash3"></i> Delete
              </button>
              <input type="hidden" id="couponId" value="<%= coupon._id %>" />
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <!-- End Left side columns -->

    <div class="pagetitle">
      <h1 style="text-align: center;margin: 10px;">Expired Coupons</h1>
      <hr />
      <div class="container">
        <div class="row">
          <% expiredCoupons.forEach(function(coupon) { %>
          <div class="col-md-4 mb-1">
            <div class="card text-center" style="background-color: orange;opacity: 0.4;">
              <div class="image">
                <img src="https://i.imgur.com/DC94rZe.png" width="150" />
              </div>
              <div class="image2">
                <img src="https://i.imgur.com/DC94rZe.png" width="150" />
              </div>
              <h1 class="coupon-discount"><%= coupon.discount %>% OFF</h1>
              <p class="coupon-description"><%= coupon.description %></p>
              <p class="coupon-max-amount">Up to: <%= coupon.maxAmount %></p>
              <div class="coupon-details">
                <p class="coupon-code">Coupon Code: <%= coupon.code %></p>
                <p class="coupon-min-spend">Min Spend: <%= coupon.minSpend %></p>
                <p class="coupon-expiry">Expiry: <%= coupon.expiryDate %></p>
              </div>
             
            </div>
          </div>
          <% }); %>
        </div>
      </div>
  </section>
  <!-- Modal for adding a new coupon -->
  <div
    class="modal fade"
    id="staticBackdrop1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel1"
    aria-hidden="true"
  >
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
        <div
          class="modal-header"
          style="background-color: rgb(163, 106, 2); color: white"
        >
          <h5 class="modal-title" id="exampleModalLabel1">Add New Coupon</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-4">
          <form action="/admin/add-coupon" method="post">
            <!-- <input type="hidden" name="id" value="<%= this._id %>" /> -->
            <!-- Coupon Code input -->
            <div class="mb-2">
              <label for="code" class="form-label">Coupon Code</label>
              <input
                value="<%= this.code %>"
                name="code"
                type="text"
                id="couponCode"
                class="form-control"
                required
              />
            </div>
            <!-- Coupon Description input -->
            <div class="mb-2">
              <label for="description" class="form-label"
                >Coupon Description</label
              >
              <input
                value="<%= this.description %>"
                name="description"
                type="text"
                id="couponDescription"
                class="form-control"
                required
              />
            </div>
            <!-- Coupon Discount input -->
            <div class="mb-2">
              <label for="discount" class="form-label">Offer %</label>
              <input
                value="<%= this.discount %>"
                name="discount"
                type="number"
                id="couponDiscount"
                class="form-control"
                
                required
              />
            </div>
            <!-- Max Amount input -->
            <div class="mb-2">
              <label for="maxAmount" class="form-label"
                >Up to (Max Discount)</label
              >
              <input
                value="<%= this.maxAmount %>"
                name="maxAmount"
                type="number"
                id="maxAmount"
                class="form-control"
                required
              />
            </div>
            <!-- Min Spend input -->
            <div class="mb-2">
              <label for="minSpend" class="form-label">Min Spend</label>
              <input
                value="<%= this.minSpend %>"
                name="minSpend"
                type="number"
                id="minSpend"
                class="form-control"
                required
              />
            </div>
            <!-- Expiry Date input -->
            <div class="mb-2">
              <label for="expiryDate" class="form-label">Expiry Date</label>
              <input
                value="<%= this.expiryDate %>"
                type="date"
                name="expiryDate"
                id="expiryDate"
                class="form-control"
                required
              />
            </div>
            <!-- Submit button -->
            <button
              style="background-color: rgb(163, 106, 2)"
              type="submit"
              class="btn btn-primary btn-block"
            >
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for editing active coupons -->
  <% activeCoupons.forEach(function(coupon) { %>
  <div
    class="modal fade"
    id="staticBackdropActiveEdit<%= coupon._id %>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel1"
    aria-hidden="true"
  >
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
        <div
          class="modal-header"
          style="background-color: rgb(163, 106, 2); color: white"
        >
          <h5 class="modal-title" id="exampleModalLabel1">Edit Coupon</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-4">
          <form action="/admin/edit-coupon/<%= coupon._id %>" method="post">
            <!-- <input type="hidden" name="id" value="<%= coupon._id %>" /> -->
            <!-- Coupon Code input -->
            <div class="mb-2">
              <label for="code" class="form-label">Coupon Code</label>
              <input
                value="<%= coupon.code %>"
                name="code"
                type="text"
                id="couponCode"
                class="form-control"
                readonly
              />
            </div>
            <!-- Coupon Description input -->
            <div class="mb-2">
              <label for="description" class="form-label"
                >Coupon Description</label
              >
              <input
                value="<%= coupon.description %>"
                name="description"
                type="text"
                id="couponDescription"
                class="form-control"
                required
              />
            </div>
            <!-- Coupon Discount input -->
            <div class="mb-2">
              <label for="discount" class="form-label">Offer %</label>
              <input
                value="<%= coupon.discount %>"
                name="offer"
                type="number"
                id="offer"
                class="form-control"
                required
              />
            </div>
            <!-- Max Amount input -->
            <div class="mb-2">
              <label for="maxAmount" class="form-label"
                >Up to (Max Discount)</label
              >
              <input
                value="<%= coupon.maxAmount %>"
                name="maxAmount"
                type="number"
                id="maxAmount"
                class="form-control"
              
                required
              />
            </div>
            <!-- Min Spend input -->
            <div class="mb-2">
              <label for="minSpend" class="form-label">Min Spend</label>
              <input
                value="<%= coupon.minSpend %>"
                name="minSpend"
                type="number"
                id="minSpend"
                class="form-control"
                required
              />
            </div>
            <!-- Expiry Date input -->
            <div class="mb-2">
              <label for="expiryDate" class="form-label">Expiry Date</label>
              <input
                value="<%= coupon.expiryDate %>"
                type="date"
                name="expiryDate"
                id="expiryDate"
                class="form-control"
                required
              />
            </div>
            <!-- Submit button -->
            <button
              style="background-color: rgb(163, 106, 2)"
              type="submit"
              class="btn btn-primary btn-block"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>
  <% }); %>

 

</main>


<script>
const deleteCoupon = document.getElementById("deleteCoupon");
const couponId = document.getElementById("couponId").value;
deleteCoupon.addEventListener("click", (e) => {
  e.preventDefault();
  location.href = `/admin/delete-coupon/${couponId}`;
 
});


</script>
