<h3 style="padding:15px">View More Page</h3>
<main class="mx-auto p-5 bg-white"style="height: auto">
  <!-- Page Heading -->


  <!-- Ordered Products Table -->
  <div class="table-responsive shadow rounded-lg">
    <table class="table table-bordered bg-white">
      <thead class="text-white">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Offer</th>
          <th scope="col">Original Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- Product Loop -->
        <% products.forEach((item) => { %>
        <!-- Product Row -->
        <tr>
          <!-- Product Image -->
          <td>
            <img
              src="/<%= item.image[0] %>"
              class="img-fluid"
              alt="Product"
              style="max-width: 100px"
            />
          </td>
          <!-- Product Name -->
          <td class="text-center align-middle"><%= item.name %></td>
          <!-- Offer -->
          <td class="text-center align-middle"><%= item.offer %></td>
          <!-- Original Price -->
          <td class="text-center align-middle"><%= item.originalPrice %></td>
          <!-- Orders Loop -->
          <% const matchingOrders = orders1.filter((orderItem) =>
          String(orderItem.productId) === String(item._id));
          matchingOrders.forEach((orderItem) => { %>
          <!-- Quantity -->
          <td class="text-center align-middle"><%- orderItem.quantity %></td>
          <!-- Total Price -->
          <td class="text-center align-middle">
            <strong><%- orderItem.price * orderItem.quantity %></strong>
          </td>
          <% }) %>
        </tr>
        <!-- Add a horizontal line between products -->

        <% }) %>
      </tbody>
    </table>
  </div>
</main>
